    <footer class="footer bg-success py-3 text-center" th:fragment="crm-footer">
        <div class="container">
            <span class="text-white"><i class="fa-regular fa-copyright"></i>
                All Right Reserved By Learnifly Education</span>
            <div>
                <a href="#" class="ms-3 text-white text-decoration-none">Privacy Policy</a>
                <a href="#" class="ms-3 text-white text-decoration-none">Terms Condition</a>
                <a href="#" class="ms-3 text-white text-decoration-none  ">Help & Support</a>
            </div>
        </div>
    </footer>