<div class="sidebar" th:fragment="admin-sidebar">
        <nav class="nav flex-column mt-5">
            <h4 class="text-white ms-3 mb-3"><i class="bi bi-person-circle"></i> Welcome Admin </h4>
            <a href="/adminProfile" class="nav-link">
                <i class="bi bi-house-fill"></i>
                <span>Dashboard</span>
            </a>
            <a href="#" class="nav-link">
                <i class="bi bi-person-fill"></i>
                <span>Profile</span>
            </a>
            <a href="coursemanagement" class="nav-link">
                <i class="bi bi-book-fill"></i>
                <span>Course management</span>
            </a>
            <a href="employeeManagement" class="nav-link">
                <i class="bi bi-people-fill"></i>
                <span>Employee management</span>
            </a>
            <a href="/customerManagement" class="nav-link">
                <i class="bi bi-person-lines-fill"></i>
                <span>Costumer Management</span>
            </a>
            <a href="/sales" class="nav-link">
                <i class="bi bi-graph-up-arrow"></i>
                <span>Sales</span>
            </a>
            <a href="adminLogout" class="nav-link">
                <i class="bi bi-box-arrow-left"></i>
                <span>LogOut</span>
            </a>
            <a href="/adminFeedback" class="nav-link">
                <i class="bi bi-chat-left-dots-fill"></i>
                <span>FeedBack</span>
            </a>
        </nav>
    </div>