<!--Header Start-->
    <header th:fragment="crm-header">
        <!--Navigation Bar-->
        <nav class="navbar navbar-expand-lg bg-success">
            <div class="container-fluid">
                <a class="navbar-brand" href="/index">
                    <img src="Images/Logo.png" alt="Learnifly Education logo" width="50" />
                    <span class="h5 text-white">Learnifly Education</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="/index"><i
                                    class="fa-solid fa-house"></i> Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                More
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Contact Us</a></li>
                                <hr class="dropdown-divider">
                                <li><a class="dropdown-item" href="#">Terms & Conditions</a></li>
                                <hr class="dropdown-divider">
                                <li><a class="dropdown-item" href="#">Privacy & Policy</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--Logging Page-->
                <a href="/login" class="btn btn-outline-light ms-5"><i class="fa-solid fa-right-to-bracket"></i>
                    Login</a>
                <!--Registration Page-->
                <a href="/register" class="btn btn-outline-light ms-4"><i class="fa-solid fa-user"></i>Register</a>
            </div>
        </nav>
    </header>
    <!--Header End-->